html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  blue: rgb(15, 0, 98),
  red: rgb(148, 20, 20),
  orange: rgb(255, 166, 0),
  yellow: rgb(255, 238, 0),
);

$font: "Anton", sans-serif;

@function color($color-name) {
  @return map-get($colors, $color-name);
}